.logo-logged-template {
    height: 80px;
}

.logged-app-bar {
    min-height: 40px !important;
}

.floating-button-align {
    display: flex;
    justify-content: center;
}

.MuiAppBar-colorPrimary {
    background-color: #eeeeee !important;
}