.floating-button-align {
    display: flex;
    justify-content: center;
}

.card-margin {
    margin: 10px 0 10px 0 !important;
}

.adjusting-float-button-position {
    height: 75px;
}

.center-graph-container {
    text-align: center;
}