.side-icon-button {
    display: flex;
}

.avatar-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.avatar-text-large {
    font-size: 1.4rem;
    margin: 0px !important
}

.avatar-text-small {
    font-size: 0.7rem;
    margin: 0px !important
}