.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #465A65;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar img {
    width: 350px;
    height: 200px;
}

.first-section {
    background-color: #F5F5F5;
    height: 800px;
    display: flex;
}

.first-section-left-div {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 50vw;
}

.first-section-right-div {
    display: flex;
    justify-self: center;
    align-items: center;
    border: black solid 1px;
    width: 50vw;
}

.first-section-right-div img {
    width: 500px;
    height: 500px;
}