.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;

}

.navbar img {
    width: 350px;
    
}

.navbar button {
    margin-left: 10px;
    margin-bottom: 20px;
    
}

.first-section {
    background-color: #727272;
    background-image: url('../../assets/images/landing-page1.jpeg');
    width: 100vw;
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    color: white;
}

.first-section-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
    width: 100%;
}

.button {
    

    
}


.first-section-div  h1{
    text-align: center;


}

.second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.second-section-div{
    color: #727272;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.second-section-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
 }

.grid-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;

}

.grid-img-container img {
    
    width: 300px;
    margin: 10px;
    border-radius: 5px;
    
}




.third-section {
    background-color: #F5F5F5;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-section-first-container{
    border-radius: 5px;
    color: white;
    background-color: black;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 10px;


}

.third-section-first-container h1{
    margin: 0 20px 10px 20px;

}

.third-section-second-container {
    display: flex;
    margin: 20px;
}

.third-section-img-size-align{
    background-color: white;
    border-radius: 5px;
    width: 200px;
    height: 100px;

}

.third-section-img-size-align img{
    width: 150px;
    margin: 10px;
}