.align-edit-delete-button{
    display: flex !important;
}

.menu-positioning {
    z-index: 10 !important;
    position: absolute;

}

.add-button-align {
    display: flex !important;
    justify-content: flex-end !important;
    
}